export INSTALL_REGISTRY_USERNAME=asaikali@pivotal.io
export INSTALL_REGISTRY_HOSTNAME=registry.tanzu.vmware.com

# file below can be used to export passwords and keys 
# it is added to the .gitignore so you don't accidently
# checkin the file 
# 
# it is ued to define export INSTALL_REGISTRY_PASSWORD= 
# used in various steps of the tap install process
source_env .keys